[Unit]
Description=Alle 30 Sekunden vcontrold-Werte an MQTT senden

[Timer]
OnBootSec=30
OnUnitActiveSec=30
AccuracySec=1

[Install]
WantedBy=timers.target
