{
  "solltemperatur_normal": {
    "set": "setTempRaumNorSoll",
    "get": "getTempRaumNorSoll",
    "discovery": {"component": "number", "unit": "°C", "min": 10, "max": 28, "step": 0.5}
  },
  "solltemperatur_reduziert": {
    "set": "setTempRaumRedSoll",
    "get": "getTempRaumRedSoll",
    "discovery": {"component": "number", "unit": "°C", "min": 5, "max": 24, "step": 0.5}
  },
  "solltemperatur_party": {
    "set": "setTempRaumPartySoll",
    "get": "getTempRaumPartySoll",
    "discovery": {"component": "number", "unit": "°C", "min": 10, "max": 28, "step": 0.5}
  },
  "betriebsart": {
    "set": "setBetriebsart",
    "get": "getBetriebsart",
    "discovery": {"component": "select", "options": ["WW", "RED", "NORM", "H+WW", "ABSCHALT"]}
  },
  "betriebsart_spar": {"set": "setBetriebSpar", "get": "getBetriebSpar"},
  "betriebsart_party": {"set": "setBetriebParty", "get": "getBetriebParty"},
  "neigung_heizkennlinie": {"set": "setNeigung", "get": "getNeigung"},
  "niveau_heizkennlinie": {"set": "setNiveau", "get": "getNiveau"}
}
