{
  "solltemperatur_normal": {"set": "setTempRaumNorSoll", "get": "getTempRaumNorSoll"},
  "solltemperatur_reduziert": {"set": "setTempRaumRedSoll", "get": "getTempRaumRedSoll"},
  "solltemperatur_party": {"set": "setTempRaumPartySoll", "get": "getTempRaumPartySoll"},
  "betriebsart": {"set": "setBetriebsart", "get": "getBetriebsart"},
  "betriebsart_spar": {"set": "setBetriebSpar", "get": "getBetriebSpar"},
  "betriebsart_party": {"set": "setBetriebParty", "get": "getBetriebParty"},
  "neigung_heizkennlinie": {"set": "setNeigung", "get": "getNeigung"},
  "niveau_heizkennlinie": {"set": "setNiveau", "get": "getNiveau"}
}
