{
  "schnell_30s": {
    "interval_seconds": 30,
    "variables": [
      "TempAist",
      "TempKist",
      "TempKsoll",
      "TempWWist",
      "TempVList",
      "TempRList",
      "Betriebsart",
      "BrennerStatus"
    ]
  },
  "langsam_5min": {
    "interval_seconds": 300,
    "variables": [
      "BrennerStarts",
      "BrennerStunden1",
      "BrennerStunden2",
      "Verbrauch",
      "ErrorAktiv",
      "TempRaumNorSoll",
      "TempRaumRedSoll"
    ]
  }
}
